body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  background-color: #1f2933;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 60px;   
  width: auto;
}
.logo span {
  color: peachpuff;
  font-size: 32px;
  font-weight: bold;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

/* Links */
.nav-links a {
  text-decoration: none;
  color: peachpuff;
  transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
  color: #38bdf8;
}
